#main {
    overflow: hidden;
}
/* Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fd6032, #f6432e);
}

/* Header Soft bar */
.header_soft-bar {
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    top: var(--header-height);
    height: var(--header_soft-bar-height);
    /* display: flex; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header_soft-bar-items {
    flex: 1;
}

.header_soft-bar-link {
    text-decoration: none;
    color: var(--text-color-);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header_soft-bar-height);
    text-align: center;
    position: relative;
}

.header_soft-bar-link-active {
    color: var(--primary-color);
}

/* Header navbar */
.navbar_items-strong {
    font-weight: 500 !important;
    font-size: 1.6rem !important;
}

.navbar {
    height:var(--header_navbar-height) ;
    display: flex;
    justify-content: space-between;
}


.navbar_list {
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.navbar_items {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 0 8px;
    font-size: 1.3rem;
    color: var(--white-color);
    position: relative;
    font-weight: 300;

}

.navbar_icon:nth-child(2) {
    margin: 0 4px;
}

.navbar_user-name {
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 400;
}

.navbar_user:hover .navbar_user-menu {
    display: block;
}

.navbar_user-menu {
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    animation: FaceIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
    list-style: none;
}

.navbar_user-menu::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -30px;
    cursor: pointer;
}

.navbar_user-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 16px;
    /* background-color: blue; */
    right: 0px;
    top: -12px;
    cursor: pointer;
}

.navbar_menu-list a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 16px;
    display: inline-block;
    width: 100%;
}

.navbar_menu-list:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}


.navbar_menu-list a:hover {
    background-color: #fafafa;
}


.navbar_user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}



.navbar_items:hover .notifi {
    display: block;
}

.navbar_items:hover .qr_code {
    display: block;
}



/* QR Code */
.qr_code {
    position: absolute;
    left: 0;
    top: 150%;
    width: 186px;
    height: 209px;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
    box-shadow: 0 0 5px #000;
    display: none;
    animation: FaceIn ease 1s;
    z-index: 1;
}

.qr_code::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    left: 0;
    top: -5%;
}

.qr-img {
    width: 100%;
}

.qr_app {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 11px;
}

.qr_link-apple {
    width: 100%;
    display: inline;
}

.qr_link-google {
    width: 100%;
    display: inline;
    margin-left: 10px;
}

/* End QR Code */

/* Notification */

.notifi {
    position: absolute;
    width: 404px;
    background-color: var(--white-color);
    top: 140%;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    display: none;
    will-change: opacity, transform;
    animation: FaceNotifi ease-in 0.2s;
    transform-origin: calc(100% - 20px) top;
    z-index: 1;
}

.notifi::before {
    position: absolute;
    content: "";
    display: block;
    width: 94px;
    height: 20px;
    /* background-color: blue; */
    top: -4%;
    right: 0;
}

.notifi::after {
    position: absolute;
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    width: 0px;
    height: 0px;
    /* background-color: blue; */
    top: -31px;
    right: 0px;
}

.notifi_header {
    height: 40px;
}

.notifi_header-title {
    color: #999999;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
    font-weight: 400;
}

.notifi_list-items {
    background-color: rgba(238, 75, 43, 0.08);
    padding: 12px;

}

.notifi_list-items:hover {
    background-color: #f7f7f7;
}

.notifi_list-link {
    text-decoration: none;
    display: flex;
    color: var(--black-color);
    list-style-type: none;
}

.notifi_list-img {
    width: 48px;
    object-fit: contain;
}

.notifi_content {
    margin-left: 12px;
}

.notifi_content-main {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    margin-bottom: 4px;
}

.notifi_content-desc {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: #999999;
}

.notifi_footer {
    display: block;
}
.footer-btn {
    text-decoration: none;
    padding: 8px 0;
    color: var(--black-color);
    font-weight: 400;
    display: block;
    width: 100%;
    text-align: center;
}

@keyframes FaceNotifi {
    from {
        opacity: 0;
        transform: scale(0) ;
    }
    to {
        opacity: 1;
        transform: scale(1) ;
    }
}
/* END Notification */

.navbar_link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

.navbar_items:hover,
.navbar_link:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.navbar_items-separate::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar_icon {
    text-decoration: none;
    color: var(--white-color);
}

.navbar_icon-link {
    font-size: 2rem;
}

.navbar_icon-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar_items-nohover {
    cursor: text;
    color: var(--white-color);
}
/* End Header NavBar */

/* Header Seach */

.header_seach {
    height: calc(var(--header-height) - var(--header_navbar-height));
    display: flex;
    align-items: center;
}

.header_logo {
    width: 200px;
    margin-left: 8px;
}

.header_seach-main {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header_logo-img {
    width: 150px;
}


.header_seach-request {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header_seach-request:focus ~ .header_seach-history {
    display: block;
}

.seach_select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.seach_select:hover .seclect_option {
    display: block;
}

.seach_select-intheshop {
    font-size: 1.4rem;
    color: var(--text-color);
}

.seach_icon-down {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header_seach-btn {
    width: 64px;
    height: 34px;
    background-color: #ee4d2d;
    border: none;
    border-radius: 2px;
    margin-right: 3px;
    padding: 1px 6px;
    text-align: center;
}

/* seach mobile */

.header_seach-mobile-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header_seach-mobile-checkbox:checked ~ .header_seach-main {
    display: flex;
}

.header_seach-mobile-list {
    display: none;
}

.header_seach-mobile {
    display: none;
}

.header_seach-btn:hover {
    background-color: #fb6445;
}

.seach_btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header_seach-input {
    flex: 1;
    height: 100%;
    position: relative;
}

.seclect_option {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 14px);
    width: 140px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    animation: FaceIn ease-in 0.2s;
    z-index: 1;
    background-color: var(--white-color);
}



.seclect_option::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    right: 0;
    top: -18px;
    position: absolute;
}

.seclet_option-inofout {
    padding: 8px;
}

.seclet_option-inofout:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.seclect_option-inshop,
.seclect_option-outshop {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.seclect_down-red {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
}

/* Header seach history */
.header_seach-history {
    width: calc(100% - 16px);
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189 189 189);
    display: none;
    z-index: 1;
}

.seach_history-text {
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.seach_histoty-list {
    margin: 6px 0 0;
    list-style: none;
}

.seach_history-items {
    padding: 0 12px;
    height: 38px;
    font-size: 1.4rem;
}

.seach_history-items:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.seach_history-items a {
    text-decoration: none;
    line-height: 38px;
    color: var(--text-color);
}

/* Header Cart */

.header_card {
    width: 150px;
    text-align: center;
}

.header_cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    animation: FaceIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}
.header_cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    /* cursor: pointer; */
    -webkit-tap-highlight-color: transparent;
}

.header_cart-list::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -30px;
    cursor: pointer;
}

.header_icon-cart {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header_cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: var(--white-color);
    font-size: 1.6rem;
    line-height: 1.4rem;
    padding: 1px 7px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
}

/* Nocart */

.header_cart-nocart .header_nocart-img,
.header_cart-nocart .header_cart-textnocart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header_nocart-img {
    width: 54%;
    display: none;
}

.header_cart-textnocart {
    /* display: block; */
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
}

.header_cart-wrap:hover .header_cart-list {
    display: block;
}
    /* cursor: pointer; */
/* Have Cart */

.cart_list-heading {
    text-align: left;
    display: block;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.cart_list-items {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
    overflow-y: auto;
    max-height: 56vh;
}


.cart_list-wrap {
    display: flex;
    align-items: center;
}

.cart_list-wrap:hover {
    background-color: #f8f8f8;
}

.cart_list-img {
    width: 48px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.cart_list-info {
    width: 100%;
    margin-right: 12px;
}

.cart_list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .cart_list-head a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    text-align: left;
    padding-right: 12px;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */

.cart_list-head-title {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    text-align: left;
    padding-right: 12px;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cart_list-qnt {
    display: inline-flex;
}

.cart_list-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.cart_list-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.cart_list-amount {
    font-size: 1.2rem;
    color: #757575;
}

.cart_list-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_list-subdescription {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 400;
}

.cart_list-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.cart_list-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.cart_view {
    float: right;
    margin: 0 12px 12px 0;
}

.cart_view:hover {
    background-color: #F05D41;
}

/* End Header */

/* App Container */

.app_container {
    background-color: #F5F5F5;
}

.app_content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category_header {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 0 0 10px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    height: 3.125rem;
    line-height: 3.125rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.category_heading-icon {
    margin-right: 10px;
}

.category_header-title {
    line-height: 1.6rem;
}

.category_list {
    position: relative;
    list-style: none;
    padding-bottom: 12px;
    padding-left: 6px;
}

.categoty_items-active .categoty_items-link {
    color: var(--primary-color);

}

.categoty_items::after {
    content: "";
    position: absolute;
    top: 0;
    right: 16px;
    left: 16px;
    border-top: 1px solid #ccc;
}

.categoty_items-active {
    position: relative;
    font-size: 1.4rem;
    padding: 8px 10px 8px 12px;
}

.categoty_items-active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}



.categoty_items {
    position: relative;
    font-size: 1.4rem;
    padding: 8px 10px 8px 12px;
}

.categoty_items:hover {
    background-color: fafafa;
}

.categoty_items-link {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    transition: right linear 0.1s;
    right: 0;
}

.categoty_items-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Arrange */


.arrange {
    font-weight: 400;
    background-color: rgba(0,0,0,.03);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    border-radius: 2px;
}

.arrange_label {
    color: #555;
    margin-right: 15px;
    font-size: 1.4rem;
}

.arrange_option-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}

.arrange_option {
    margin-left: 10px;
}

.arrange_select {
    display: inline-flex;
    align-items: center;
    min-width: 200px;
    background-color: var(--white-color);
    margin-left: 10px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.arrange_select-title {
    color: var(--text-color);
    font-size: 1.4rem;
    flex: 1;
    margin-left: 12px;
    margin-right: 10px;
}

.arrange_select-icon {
    margin-right: 12px;
    font-size: 14px;
    color: #555;
}

.arrange_control {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.arrange_page-current {
    color: var(--primary-color);
}

.arrange_control-btn {
    font-size: 10px;
    margin-left: 20px;
    background-color: #fff;
}

.arrange_btn {
    border: none;
    padding: 1px 6px;
    width: 36px;
    height: 34px;
    color: #555;
    background-color: #fff;
    cursor: pointer;
}

.arrange_btn-disabled {
    border-right: 1px solid #f2f2f2;
    cursor: default;
    background-color: #f9f9f9;
    color: #cccccc;
}

.arrange_select-list {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    background-color: #fff;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    display: none;
    z-index: 1;
    animation: FaceIn ease-in 0.2s;
}

.arrange_select-items {
    color: #222;
    font-size: 1.4rem;
    min-height: 34px;
    line-height: 34px;
    padding: 0 12px 0 15px;
}

.arrange_select-items:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.arrange_select-list::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    width: 100%;
    height: 5px;
    /* background-color: blue; */
}

.arrange_select:hover .arrange_select-list {
    display: block;
}
/* Navbar Mobile Category */

.category_mobile {
    display: none;
}

.category_mobile-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin: 10px 0;
}

.category_mobile-list::-webkit-scrollbar {
    display: none;
}

.category_mobile-items {
    flex-shrink: 0;
    margin-right: 10px;
}

.category_mobile-items-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    --line-height: 2rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: block;
    width: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
    border-radius: 4px;
}

.category_mobile-items:nth-of-type(3n+1) .category_mobile-items-link {
    background-color: #87AFD8;
}

.category_mobile-items:nth-of-type(3n+2) .category_mobile-items-link {
    background-color: #76C9BD;
}

.category_mobile-items:nth-of-type(3n+3) .category_mobile-items-link {
    background-color: #88CF81;
}

.header_soft-bar-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

/* Product */

.product {
    margin-bottom: 10px;
}

.product_view {
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    margin-top: 10px;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: transform ease-in 0.1s ;
    will-change: transform;
}

.product_view:hover {
    transform: translateY(-1px);
    box-shadow:1px 2px 0 rgb(0 0 0 / 5%); ;
}

.product_view-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product_view-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px 10px 6px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product_view-desc {
   
}

.product_view-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product_view-price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.product_view-price-current {
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.product_view-action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.product_view-action-like {
    font-size: 1.3rem;
}

.product_view-action-like-fill {
    color: #F63D30;
}

.product_view-action-liked .product_view-action-like-nofill {
    display: none;
}

.product_view-action-liked .product_view-action-like-fill {
    display: inline-block;
}

.product_view-rating {
    margin-left: auto;
    font-size: 0.8rem;
    color: #D5D5D5;
}

.product_view-sold {
   font-size: 1.2rem;
   color: var(--text-color);
   margin-left: 6px;
}

.product_view-rating-icon-gold {
    color: var(--star-gold-color);
}

.product_origin {
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 400;
   margin: 6px 10px 0;
}

.product_favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 0 4px 0  0;
    font-weight: 600;
}

.product_favorite::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -4px;
    border-bottom: 4px solid transparent;
    border-right: 4px solid currentColor;
    filter: brightness(0.6);
}

.product_favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.product_favorite-text {
    color: var(--white-color);
}

.product_discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.product_discount::before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.product_discount-sale {
    font-size: 1.2rem;
    color: #EE4D2D;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: -1px;
}

.product_discount-label {
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.3rem;
}

/* Pagination */

.product_pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 48px 0 32px;
    align-items: center;
    padding-left: 0;
    width: 100%;
}

.product_pagination-items {
    margin: 0 12px;
}

.product_pagination-link {
    --height-: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    font-weight: 300;
    line-height: var(--height-);
    height: var(--height-);
    min-width: 40px;
    text-align: center;
    border-radius: 2px;
}

.product_pagination-items-active .product_pagination-link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.product_pagination-items-active .product_pagination-link:hover {
    background-color: #ed5c3f;
}

.product_pagination-icon {
    font-size: 1.4rem;
}

/* Footer */

.footer {
    padding-top: 16px;
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);
}

.footer_heading {
    font-size: 1.4rem;
    margin: 14px 0;
    color: var(--text-color);
    text-transform: uppercase;
}

.footer_list {
    list-style: none;
    margin: 10px 0;
}

.footer_list-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer_list-link:hover {
    color: var(--primary-color);
}

.footer_list-icon {
    margin-right: 8px;
    font-size: 1.6rem;
}

.footer_list-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_down-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer_list-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 18px;
    flex: 1;
}

.footer_link {
    text-decoration: none;
    color: transparent;
}

.footer_link-apple {
    height: 16px;
}

.footer_link-google {
    height: 16px;
}

.footer_bottom {
    background: #F5F5F5;
    margin-top: 36px;
    padding: 8px 0;
}

.footer_bottom-text {
    color: #737373;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}